body {
  --body-color: #fff;
  --nav-color: #00856f;
  --text-color: #fff;
  --text-hover-color: #00856f;
  --border-color: #fff;
  --border-hover-color: #fff;
  --button-hover-color: #fff;
  --search-color: #333;
  --white-color: #fff;
  --green-color: #00856f;
  --black-color: #333;
}

body.dark {
  --body-color: #18191a;
  --nav-color: #242526;
  --text-color: #ccc;
  --text-hover-color: #fff;
  --border-color: #fff;
  --border-hover-color: #858383;
  --button-hover-color: #858383;
  --search-color: #333;
}
