body {
  --body-color: #fff;
  --nav-color: #00856f;
  --text-color: #fff;
  --border-color: #fff;
  --border-hover-color: #54ddc6;
  --search-color: #333;
}

body.dark {
  --body-color: #18191a;
  --nav-color: #242526;
  --text-color: #ccc;
  --border-color: #fff;
  --border-hover-color: #54ddc6;
  --search-color: #333;
}
