@import "./reset";
@import "./mixin";
@import "./variable";
@import "./common";
// nav
.nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 72px;
  width: 100%;
  background-color: transparent;
  z-index: 99;
  &__container {
    @include displayFlex(space-between, center);
    @extend .container;
    height: 100%;
  }

  &__logo {
    font-size: 20px;
    @include displayFlex(space-between, center);

    a {
      color: var(--green-color);
      text-transform: uppercase;
      margin-right: 40px;
    }
    #custom-search-form {
      button {
        border: 0;
        background: none;
        padding: 2px 5px;
        margin-top: 2px;
        position: relative;
        border-style: none;
        left: -28px;
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        z-index: 3;
        i {
          font-size: 22px;
          cursor: pointer;
          color: var(--green-color);
        }
        &:focus {
          outline: none;
          border-color: inherit;
          -webkit-box-shadow: none;
          box-shadow: none;
        }
      }

      .search-query {
        border: none;
        background: transparent;
        border-bottom: 1px solid var(--green-color);
        color: var(--green-color);
        padding-right: 20px;
        font-style: italic;
        &:focus {
          outline: none;
          color: var(--green-color);
        }
        &::placeholder {
          font-size: 16px;
          font-weight: 400;
          line-height: 21px;
          position: relative;
          color: var(--green-color);
        }
      }
    }
  }

  &__pc {
    @include displayFlex(space-between, center);

    li {
      margin: 0 5px;
      &:hover a::before {
        opacity: 1;
      }

      a {
        position: relative;
        font-weight: 400;
        font-size: 16px;
        line-height: 21px;
        color: var(--green-color);
        padding: 10px;
        &::before {
          content: "";
          position: absolute;
          left: 50%;
          bottom: 0;
          transform: translateX(-50%);
          width: 51px;
          height: 2px;
          opacity: 0;
          transition: all 0.3s ease;
          background-color: var(--green-color);
        }
      }
    }
  }

  &__button-group {
    @include displayFlex(center, center);
    .dark-light-mode {
      @include displayFlex(center, center);
      height: 40px;
      width: 40px;
      margin: 0 5px;
      i {
        position: absolute;
        color: var(--green-color);
        font-size: 22px;
        cursor: pointer;
        transition: all 0.3s ease;
        &.sun {
          opacity: 0;
          pointer-events: none;
        }
      }

      &.active {
        i.sun {
          opacity: 1;
          pointer-events: auto;
        }
        i.moon {
          opacity: 0;
          pointer-events: none;
        }
      }
    }
  }

  &__button {
    @include displayFlex(center, center);
    padding: 10px 24px;
    border: 1px solid var(--green-color);
    border-radius: 40px;
    background-color: transparent;
    cursor: pointer;
    &:hover {
      border: 1px solid var(--green-color);
      background-color: var(--green-color);
      span {
        color: #dce9e2;
      }
    }
    span {
      font-weight: 700;
      font-size: 14px;
      line-height: 18px;
      text-transform: capitalize;
      color: var(--green-color);
    }
  }

  &__input {
    display: none;
    &:checked ~ .nav__mobile {
      transform: translateX(0);
    }
    &:checked ~ .nav__overlay {
      display: block;
    }
  }

  &__icon-bar {
    font-size: 30px;
    color: var(--white-color);
    display: none;
    cursor: pointer;
  }

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    display: none;
  }

  &__mobile {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 300px;
    background-color: var(--nav-color);
    transform: translateX(200%);
    transition: all 0.4s ease-in-out;

    .nav__icon-close {
      float: left;
      margin: 20px;
      font-size: 25px;
      cursor: pointer;
      color: #fff;
    }

    ul {
      padding: 80px 40px 40px;
      li {
        a {
          @include displayFlex(center, center);
          font-weight: 400;
          font-size: 18px;
          line-height: 21px;
          color: var(--text-color);
          position: relative;
          padding: 30px;
          &::before {
            content: "";
            position: absolute;
            left: 50%;
            bottom: 30%;
            transform: translateX(-50%);
            width: 51px;
            height: 2px;
            opacity: 0;
            transition: all 0.3s ease;
            background-color: var(--text-color);
          }
        }
        &:hover a::before {
          opacity: 1;
        }
      }
    }

    .btn-write {
      @include displayFlex(center, center);
      .nav__button {
        padding: 10px 60px;
        background: #fff;
        &:hover {
          background: var(--green-color);
          color: var(--white-color);
          border-color: #fff;
        }
      }
    }

    .social-links {
      @include displayFlex(center, center);
      color: #fff;
      font-size: 30px;
      padding-top: 70px;
      gap: 30px;
      i {
        cursor: pointer;
      }
    }
  }
  &.navbar-transparent {
    background-color: var(--nav-color);

    .nav__button-group .dark-light-mode i,
    a,
    .nav__button,
    .nav__button span {
      color: var(--white-color);
    }

    .nav__button {
      border-color: var(--white-color);
      &:hover {
        border-color: var(--white-color);
        background-color: var(--white-color);
        span {
          color: var(--green-color);
        }
      }
    }
  }
}
.header {
  background-color: #dce9e2;
  padding: 72px 0 30px;
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
    &__content {
      span {
        @include displayFlex(start, center);
        font-weight: 700;
        font-size: 14px;
        line-height: 150%;
        color: #00856f;
      }
      h1 {
        font-weight: 700;
        font-size: 52px;
        line-height: 130%;
        margin-top: 16px;
      }
      p {
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        margin: 24px 0;
        color: #495057;
      }
      button {
        @include displayFlex(center, center);
        padding: 16px 32px;
        color: #fff;
        width: 263px;
        height: 52px;
        background: #00856f;
        border-radius: 40px;
        border: 2px solid #00856f;
        text-transform: uppercase;
        cursor: pointer;
        font-weight: 700;
        font-size: 14px;
        line-height: 18px;
        gap: 20px;
        &:hover {
          background: #fff;
          color: #00856f;
        }
      }
    }
    &__img {
      object-fit: contain;
    }
  }
}

.footer {
  background-color: #00856f;
  // height: 268px;
  &__container {
    @include displayFlex(space-between, center);
    padding-top: 60px;
    padding-bottom: 60px;
    color: #fff;
  }
  &__content {
    h1 {
      font-size: 30px;
      margin-bottom: 16px;
    }
  }
  &__social {
    @include displayFlex(end, center);
    i {
      font-size: 30px;
      cursor: pointer;
      margin-left: 15px;
    }
  }
}

@media only screen and (max-width: 767px) {
  .nav {
    position: absolute;
    .nav__logo a,
    .nav__icon-bar {
      color: #00856f;
    }
    &__pc,
    &__button-group,
    #custom-search-form {
      display: none;
    }

    &__icon-bar {
      display: block;
    }
  }
  .header {
    min-height: 678px;
    .header__container {
      &__content {
        @include displayFlex(center, center);
        flex-direction: column;
        span {
          text-align: center;
        }
        h1 {
          font-weight: 700;
          font-size: 34px;
          line-height: 130%;
          text-align: center;
        }
        p {
          font-weight: 400;
          font-size: 18px;
          line-height: 150%;
          text-align: center;
        }
      }
    }
  }
  .footer {
    &__content {
      text-align: center;
    }
    &__social {
      @include displayFlex(center, center);
      padding-top: 40px;
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
}
